html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/**
  |============================
  | Basic styles
  |============================
*/
:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --third-text-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --accent-text-color: #f4f4fd;
  --logo-text-color: #4d5ae5;
  --primary-background: #ffffff;
  --secondary-background: #f4f4fd;
  --footer-background: #2e2f42;
  --button-active: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | Header Styles
  |============================
*/
.header.container {
  outline: 5px solid tomato;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  margin-right: 76px;
  color: var(--logo-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--secondary-text-color);
}
.nav {
  align-items: center;
  display: flex;
  margin-right: auto;
}
.header-nav {
  gap: 40px;
  display: flex;
}
.nav-link {
  padding: 24px 0;
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address.list {
  display: flex;
  gap: 40px;
}
.address-link {
  margin-right: 40px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--button-active);
}

/**
  |================================
  | Hero Styles
  |================================
*/

.hero {
  padding: 188px 0;
  background-color: var(--footer-background);
}
.hero.container {
  outline: 5px solid tomato;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  outline: 5px solid tomato;
}
.hero button {
  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 56px;
  outline: 5px solid tomato;
  border-radius: 4px;
  border: none;
}
.hero-item {
  width: calc((100% - 72px) / 4);
}
.adventages {
  padding: 120px 0;
}
.adventages.list {
  outline: 5px solid tomato;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.examples {
  padding-bottom: 120px;
}
.example.title {
  outline: 5px solid tomato;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.example.list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.team {
  padding: 120px 0;
}
.team.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team.title {
  margin-bottom: 72px;
}
.team-text {
  text-align: center;
  padding: 32px 16px;
}
.team.list {
  display: flex;
  gap: 24px;
}
.team-card {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
/**
  |================================
  | Button Styles
  |================================
*/
.button {
  font-family: "Roboto", sans-serif;
  color: var(--third-text-color);
  background-color: var(--logo-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--logo-text-color);
  background-color: var(--secondary-background);
  font-weight: 500;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--third-text-color);
  border: 1px solid transparent;
  background-color: var(--button-active);
}
.button-portfolio-list {
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.text-title {
  margin-bottom: 8px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: space-between;
  outline: 5px solid tomato;
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team {
  padding-bottom: 120px;
  background-color: var(--secondary-background);
}

.card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background);
}

.portfolio-section {
  padding: 96px 0 120px;
}

/**
  |================================
  | Footer Styles
  |================================
*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--footer-background);
  outline: 5px solid tomato;
}
.logo-only-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: var(--footer-text-color);
}
